<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire de connexion</title>
  </head>
  <body>
    <div class="container-fluid">
      <h1>Log in</h1>
      <form #loginForm="ngForm" novalidate>
        <div>
          <label for="login">Login:</label>
          <input
            type="text"
            required
            #login="ngModel"
            [class.is-invalid]="login.invalid && login.touched"
            minlength="5"
            class="form-control"
            name="login"
            [(ngModel)]="loginModel.login"
          />
          <div *ngIf="login.invalid && login.touched" class="text-danger">
            Veuillez entrer un login valide (min 5 caractères)
          </div>
        </div>
        <div>
          <label for="password">Mot de passe:</label>
          <input
            type="password"
            required
            #password="ngModel"
            [class.is-invalid]="password.invalid && password.touched"
            minlength="8"
            class="form-control"
            name="password"
            [(ngModel)]="loginModel.password"
          />
          <div *ngIf="password.invalid && password.touched" class="text-danger">
            Veuillez entrer un mot de passe valide (min 8 caractères)
          </div>
        </div>
        <button [disabled]="loginForm.invalid" type="submit">
          Se connecter
        </button>
        <div *ngIf="loginForm.invalid && formSubmitted" class="text-danger">
          Le formulaire est invalide. Veuillez vérifier les champs.
        </div>
      </form>
    </div>
    <br />
  </body>
</html>
